.brand{
    width: 87%;
    margin: 0 auto;
  
    padding-left: 55px;
    
    
     
}
.count{
    font-size: 13px;
}
.brand-text{
    font-size: 17px;
}
@media  (min-width:300px) and (max-width:399px) 
{
    .brand{
        width: 87%;
        margin: 0 auto;
        
         
    } 
    .jj{
      width: 100px;
    }
}
@media  (min-width:400px) and (max-width:500px) 
{
    .brand{
        width: 89%;
        margin: 0 auto;
        
         
    } 
    .jj{
      width: 150px;
    }
}
@media  (min-width:501px) and (max-width:600px) 
{
    .brand{
        width: 77%;
        margin: 0 auto;
        
         
    } 
    .jj{
      width: 180px;
    }
}
@media  (min-width:601px) and (max-width:700px) 
{
    .brand{
        width: 76%;
        margin: 0 auto;
       
        
         
    } 
    .jj{
      width: 150px;
     
    }
}
@media  (min-width:701px) and (max-width:800px) 
{
    .brand{
        width: 76%;
        margin: 0 auto;
       
        
         
    } 
    .jj{
      width: 170px;
     
    }
}
@media  (min-width:801px) and (max-width:850px) 
{
    .brand{
        width: 76%;
        margin: 0 auto;
       
        
         
    } 
    .jj{
      width: 180px;
     
    }
}
@media  (min-width:851px) and (max-width:900px) 
{
    .brand{
        width: 76%;
        margin: 0 auto;
       
        
         
    } 
    .jj{
      width: 205px;
     
    }
}
@media  (min-width:901px) and (max-width:1000px) 
{
    .brand{
        width: 76%;
        margin: 0 auto;
       
        
         
    } 
    .jj{
      width: 222px;
     
    }
}