.dropdown-button{
    width: 70%;
    height: 50px;
    
    margin-top: -44px;
    position: absolute;
   
    
    
       
}


.dropdown-manage{
    width: 70%;
    height: 130px;
    background-color:white;
    margin: 0 auto;
    margin-top: -60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}






.select-manage{
  width: 250px;
}
.select-manage2{
  width: 155px;
}
.select-button{
    width: 500px;
    font-weight: 900;
    height: 42px;
    
}
.nav-manage{
    background-color: rgb(45, 42, 42);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: 700;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    

    
}
.nav-manages{
    background-color: rgb(45, 42, 42);
    padding-left: 25px;
    padding-right: 25px;
    border-radius: unset;
    color: white;
    font-weight: 700;
   
}
.nav-item .active{
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.active{
    background-color: white;
    color: black;
}
.nav-item{
    border-radius: unset;
}
.orginal{
    width: 920px;
   
}
.orginal2{
    width: 920px;
   
}
@media  (min-width:300px) and (max-width:780px) 
{
    .dropdown-manage{
        width: 100%;
        height: 300px;
        background-color:white;
      
        margin-top: -50px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
       
    }
    .dropdown-button{
        width: auto;
        height: auto;
        
        margin-top: -44px;
        
       
        
        
           
    }
    
    .select-manage{
      width: 80%;
      margin-bottom: 3px;
      margin-top: 3px;
      
     

     
    }
    .select-manage2{
        width: 34%;
        margin-top: 3px;
       
       
      }
    
    .orginal{
        width: auto;
        display: flex;
        flex-direction: column;
        margin-top: -50px;
       
    }
    .orginal2{
        width: auto;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
       
    }
    
    
}

@media  (min-width:450px) and (max-width:550px) 
{

    .dropdown-button{
        width: auto;
        height: auto;
        
        margin-top: -44px;
       
    }

    .select-manage{
        width: 80%;
        margin-bottom: 11px;
        margin-top: 5px;
        background-color: aquamarine;
        
       
  
       
      }

}


