.banner{
    background: url(/src/img/imagen1.jpg);
    background-size: cover;
    background-position: 69%;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
   
}
@media  (min-width:351px) and (max-width:780px) 
{
    .banner{
        background: url(/src/img/imagen1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 400px;
    }
}