.trending-car{
    width: 87%;
    margin: 0 auto;
    
    
}
.trending-header{
    
    font-weight: 700;
}
.trending-para{
   
    font-size: 17px;
    margin-bottom: 27px;
    
}
.card-title{
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}